<%= button_to "Get new quote", create_quote_path %>
<% @quotes.each do |quote| %>
<div>
<%= link_to "Show me the quote!!!", show_quote_path(quote) %>
   <p><%= quote.author %></p>
   <p><%= quote.category %></p>
   <p><%= quote.quote %></p>
 <%= button_to "Destroy!", delete_quote_path(quote), method: :delete %>
 </div>
<% end %>